@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 24px;
  min-height: 100vh;
}

.app.dark .container {
  background-color: #232323;
}
.app.light .container {
  background-color: #ffffff;
}

.app.dark p,
.app.dark h3,
.app.dark h1 {
  color: #f6f7f9;
}

.app.light p,
.app.light h3,
.app.light h1 {
  color: #000000;
}